.visible {
  background-color: rgb(218, 240, 241);
  width: 300px;
  height: 100px;
  border: 1px dotted rgb(117, 177, 236);
  overflow: visible;
}
.oculto {
  background-color: rgb(218, 240, 241);
  width: 300px;
  height: 100px;
  border: 1px dotted rgb(117, 177, 236);
  overflow: hidden;
}
.barra {
  background-color: rgb(225, 241, 189);
  width: 300px;
  height: 100px;
  border: 1px dotted rgb(0, 23, 231);
  overflow: scroll;
}
.automatico {
  background-color: rgb(241, 231, 189);
  width: 300px;
  height: 100px;
  border: 1px dotted rgb(0, 23, 231);
  overflow: auto;
}
.doble {
  background-color: rgb(241, 231, 189);
  width: 300px;
  height: 100px;
  border: 1px dotted rgb(0, 23, 231);
  overflow-y: hidden;
  overflow-x: scroll;
}
